<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
  </head>
  <body>
    <h1>Maintenance Page</h1>
    <p>Sorry for that, we are uptadating the application</p>
  </body>
</html>
