<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    {{> header }}
      {{# each projects }}
        <p>{{ screenIt this }}</p>
      {{/ each }}
    {{> footer }}
  </body>
</html>
